{{#if errorMessage}}
<section class="notifications">
    <p class="notification-message">{{errorMessage}}</p>
</section>
<img src="/images/sadFace.png" alt="sad-face" class="sad-face">
<h1 class="not-found"></h1>
{{/if}}